* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.header {
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, #e07a5f, #f5e7d3);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #333;
    transition: transform 0.3s ease;
    animation: bounceInDown;
    animation-duration: 2s;
}

.logo h1:hover {
    color: #fff;
    transition: color 0.5s ease-in-out;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    animation: bounceInDown;
    animation-duration: 2s;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
    transition: transform 0.3s ease-in;
}

nav ul li a:hover {
    background-color: #e07a5f;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
    animation: bounceInDown;
    animation-duration: 2s;
}

.hero-text {
    position: absolute;
    text-align: center;
    transition: color 0.5s ease-in-out;
    color: #333;
}

.hero-text h2 {
    font-size: 50px;
    animation: text-color 5s infinite alternate ease-in-out;
}

@keyframes text-color {
    0% {
        color: #fff;
    }

    50% {
        color: rgb(226, 125, 16);
    }

    100% {
        color: purple;
    }
}

.hero-text h2:hover {
    color: #e07a5f;
    transition: color 0.5s ease-in-out;
}

.hero-text button {
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #e07a5f;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hero-text button:hover {
    background-color: peachpuff;
    transform: scale(1.1);
}

.most-popular {
    padding: 40px;
    background-color: #fff;
    text-align: center;
}

.most-popular h2 {
    background-color: #fff;
    font-size: 50px;
    margin-bottom: 50px;
}

.most-popular h3, p {
    font-size: 30px;
    margin: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.card {
    background-color: #eee;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shaddow 0.3s ease-in-out;
}

.card:hover {
    transform: translatey(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.05);
}

.featured-anime {
    background-color: #f5e7d3;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.featured {
    display: flex;
    gap: 20px;
}

.featured img {
    width: 200px;
    height: auto;
    margin: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.featured img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.featured-info {
    max-width: 400px;
}

.featured-info h2 {
    margin: 10px;
    font-size: 28px;
    margin-bottom: 10px;
}

.featured-info p {
    margin: 10px;
    font-size: 25px;
}

.featured-info button {
    margin: 10px 10px;
    padding: 10px 15px;
    background-color: #e07a5f;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.featured-info button:hover {
    background-color: peachpuff;
    transform: scale(1.1);
}

.rating {
    display: inline-block;
    padding: 10px;
    background-color: #e07a5f;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.footer {
    text-align: center;
    font-size: 30px;
    color: #333;
}

